* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
}

/* navigation */
nav {
    padding: .5rem;
    background-color: #f76c6c;
    color: white;
}

nav h1 {
    font-size: 2rem;
}

nav h1,
nav ul {
    margin: 0;
}

nav>ul {
    padding: 0;
    margin-right: 1rem;
    list-style: none;
    font-size: 1.25rem;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    padding: .25rem;
    text-decoration: none;
    color: #fff;
}

/* header */
header {
    text-align: center;
    min-height: 250px;
    background-image: url("https://picsum.photos/id/1074/1920/600");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: #fff;
    padding: .5rem;
}

header h1 {
    font-size: 3rem;
}

/* section */
section {
    padding: .5rem;
    margin: 0 auto;
    max-width: 65ch;
}

section>article {
    display: inline-block;
    padding: .5rem;
    margin: 0 .5rem 1rem;
    width: 45%;
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: -2px 5px 10px rgb(0 0 0 / 20%);
}

/*footer*/
footer {
    padding: 1rem;
    background-color: #f76c6c;
}

/*Correction*/
/*nav*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 { 
    font-size: 1.25rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
/*header*/

 header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: clamp(2.5rem, 5vw ,4rem);
} 

/*articles*/
section>article {
    width: unset;
    display: initial;
}

.featured-posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section.featured-posts h2 {
    grid-column: 1 / -1;
 }

section.featured-posts>article:first-of-type {
    grid-column: 1 / 3;
}

@media screen and (min-width: 768px) {
    nav h1 { 
        font-size: 1.50rem;
    }
    
    nav ul {
        flex-direction: row;
        font-size: 1.25rem;
    }

    .featured-posts {
        grid-template-columns: repeat(4, 1fr);
    }
    
    section.featured-posts>article:first-of-type {
        grid-row: 2 / 4;
    }
} 

@media screen {
    header h1 {
        filter: drop-shadow(12px 12px 10px black);
    }
}